.places {
  max-width: calc(100% - 2 * 148px);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .places {
      max-width: calc(100% - 2 * 48px);
      padding: 0 48px;
      
    }
}

@media screen and (max-width: 768px) {
  .places {
   max-width: calc(100% - 2 * 24px);
   padding: 0 24px;
   margin: 88px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
   max-width: 320px;
   padding: 0;
  }
}