.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 28px 0 56px;
    padding: 0 48px;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 28px auto 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0 0 0 16px;
        padding: 15px 0 0 0;
    }
}