.place__text {
    max-width: 484px;
    width: 100%;
    
}

@media screen and (max-width: 1024px) {
    .place__text {
       max-width: 456px;
    }
}


@media screen and (max-width: 768px) {
    .place__text {
       max-width: 352px;
    }
}


@media screen and (max-width: 320px) {
    .place__text {
      max-width: 287px;
      padding: 0 16px 0 16px;
    }
}