.cover {
    max-width: 1184px;
    height: 760px;
    margin: 0 auto;
    margin-left: 48px;
    background-image: url(./../../images/__background.jpg);
    background-size: cover;
    margin: 92px auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        height: 640px;
       
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        height: 480px;
        margin-left: 0;
        margin-top: 60px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        height: 200px;
        margin-top: 40px;
    }
}