.cover {
   margin: 92px auto;
   padding: 0 48px;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 66px auto 88px;
        
    }
}

@media screen and (max-width: 400px) {
    .cover {
        margin: 42px auto 64px;
    }
}