.cover__title {
    font-family: 'Inter', 'Arial', sans-serif;
max-width: 560px;
max-height: 152px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
align-self: center;
color: #FFFFFF;
text-align: center;
margin: 0;

}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding: 30px;
    }
}