.cover__title {
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: center;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
}