.place {
    max-width: 100%;
    margin: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 48px 40px;
    word-wrap:break-word;
}


@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, auto);
        margin-bottom: 70px;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: repeat(2, auto);
      margin-bottom: 34px;
      gap: 48px 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
     margin-bottom: 23px;
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    
    }
}