.place {
 margin: 0;
 padding: 0;
 margin-bottom: 80px;
 display: grid;
grid-template-columns: repeat(2, auto);
gap: 48px 40px;

}

@media screen and (max-width: 1024px) {
    .place {
       margin-bottom: 58px;
        gap: 48px 12px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 100%;
        grid-template-columns: auto;
        gap: 32px;
    }
}