.footer {
    max-width: 1184px;
    padding: 81px 48px 24px 48px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-top: 18px;
    }
}