.place__website {
  max-width: 456px;
  width: 100%;
  height: 46px;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 786px) {
    .place__website {
      max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    padding: 0 16px;
  }
}